.gridContainer {
  display: grid;
  grid-template: auto / 32% 32% 32%;
  grid-gap: 20px;
  padding: 30px;
  margin-top: 40px;
}
.gridElement {
  color: white;
  height: 200px;
  border-radius: 30px;
  background-color: rgba(78, 68, 68, 0.8);
  padding: 20px;
}
.elementBody {
  font-size: 16px;
  padding: 15px;
}
.elementBodyChild {
  padding: 5px;
}
.childLable {
  display: inline-block;
  margin-right: 5px;
  font-weight: 700;
}
.childValue {
  display: inline-block;
}
.subNavigation {
  background-color: rgb(92, 84, 84);
  padding: 20px;
  width: 100vw;
  position: absolute;
  top: 58px;
  left: 0;
}
